

#brand,#loginForm,#topSplash {
    position: absolute
}

.esx-icon-about,.esx-icon-certificate,.esx-icon-change-password,.esx-icon-completed,.esx-icon-event-error,.esx-icon-event-info,.esx-icon-event-warning,.esx-icon-failed,.esx-icon-generate-csr,.esx-icon-help,.esx-icon-help-new-window,.esx-icon-host-advanced-setting-non-default,.esx-icon-host-advanced-settings,.esx-icon-host-date-time,.esx-icon-host-edit-advanced-setting,.esx-icon-host-enter-lockdown-mode,.esx-icon-host-enter-maintenance-mode,.esx-icon-host-exit-lockdown-mode,.esx-icon-host-exit-maintenance-mode,.esx-icon-host-help,.esx-icon-host-in-lockdown-mode,.esx-icon-host-in-maintenance-lockdown-mode,.esx-icon-host-in-maintenance-mode,.esx-icon-host-manage,.esx-icon-host-manage-services,.esx-icon-host-monitor,.esx-icon-host-power-policy,.esx-icon-host-reboot,.esx-icon-host-reset-advanced-setting,.esx-icon-host-service-policy,.esx-icon-host-services,.esx-icon-host-shutdown,.esx-icon-host-support,.esx-icon-host-system-settings,.esx-icon-host-tools,.esx-icon-import-certificate,.esx-icon-monitoring,.esx-icon-object-browser,.esx-icon-question,.esx-icon-resourcepool,.esx-icon-resourcepool-add,.esx-icon-resourcepool-edit,.esx-icon-sdk-info,.esx-icon-service-restart,.esx-icon-service-running,.esx-icon-service-shell,.esx-icon-service-ssh,.esx-icon-service-start,.esx-icon-service-stopped,.esx-icon-settings,.esx-icon-storage-adapter,.esx-icon-storage-adapter-iscsi,.esx-icon-storage-add-iscsi-target,.esx-icon-storage-device-disk,.esx-icon-storage-device-disk-clear,.esx-icon-storage-device-disk-delete-partition,.esx-icon-storage-device-disk-edit-partitions,.esx-icon-storage-device-disk-pmem,.esx-icon-storage-device-status-normal,.esx-icon-storage-inflate-virtual-disk,.esx-icon-storage-remove-iscsi-target,.esx-icon-storage-rescan-adapter,.esx-icon-storage-rescan-vmfs,.esx-icon-tools,.esx-icon-upgrade-tools,.esx-icon-vc,.esx-icon-vc-disconnect,.esx-icon-vcli,.esx-icon-vm-console-new-tab,.esx-icon-vm-console-new-window,.esx-icon-vm-console-reset,.esx-icon-vm-edit,.esx-icon-vm-guest,.esx-icon-vm-remove,.esx-icon-vm-rename,.esx-icon-vm-select-cdrom-image,.esx-icon-vm-status-info,.esx-icon-vm-status-invalid,.esx-icon-vm-status-normal,.esx-icon-vm-status-warning,.esx-icon-vm-unregister,.esx-icon-vm-vmrc-console,.esx-icon-vmrc,.esx-icon-vmware,.icon-host-in-lockdown-mode,.icon-host-in-maintenance-lockdown-mode,.icon-host-in-maintenance-mode,.icon-monitoring,.icon-resourcepools {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 1px 4px 0 0
}

.esx-icon-help-new-window {
    background: url(/images/helpNewWindow16.png) no-repeat;
    background-size: 16px 16px;
    line-height: 10px;
    content: "\0000a0";
    box-sizing: border-box;
    color: #333;
    text-align: left;
    vertical-align: middle
}

#topSplash {
    top: 0;
    left: 0
}

#brand {
    top: 55px;
    left: 44px;
    z-index: 2
}

#loginForm {
    top: 320px;
    width: 405px;
    padding-left: 44px;
    z-index: 3;
    background-image: url(../images/divider.png);
    background-position: right;
    background-repeat: repeat-y
}

.margeTextInput {
    float: right;
    margin-right: 44px;
    width: 200px!important
}

.loginLabel {
    font-weight: 700;
    color: #FFF;
    text-align: left;
    display: block
}

.loginLabel input {
    color: #333;
    font-weight: 400
}

.loginRow {
    display: block;
    padding-top: 10px
}

.button,.info-icon {
    display: inline-block;
    cursor: pointer
}

#loginButtonRow {
    clear: both;
    float: right;
    margin-right: 40px;
    margin-top: 0
}

.button {
    zoom:1;vertical-align: baseline;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    padding: 0 30px;
    height: 24px;
    font-size: 12px
}

.button:hover {
    text-decoration: none
}

.button:active {
    position: relative;
    top: 1px
}

#password:disabled,#sspiCheckbox:disabled,#submit:disabled,#username:disabled {
    opacity: .3;
    filter: alpha(opacity=30)
}

#productName {
    position: absolute;
    top: 345px;
    left: 499px;
    color: #FFF;
    font-size: 23px
}

#response {
    background: url(../images/error.png) left center no-repeat;
    margin-top: 20px;
    font-size: 12.5px;
    padding-left: 20px;
    color: #87CEFF
}

.footer {
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;
    padding: 10px;
    color: #7B7E81
}

.footer a {
    color: #7B7E81;
    text-decoration: none
}

.footer a:hover {
    text-decoration: underline
}

.info-icon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin: 0 4px;
    position: relative;
    background-image: url(../images/infoOver.png)
}

.loginStatus {
    font-size: 14px;
    font-weight: 700;
    padding-left: 2px
}

.loginWelcome,body {
    font-size: 12px
}

.loginWelcome {
    padding: 5px 0 0 10px;
    font-weight: 400;
    max-height: 200px;
    overflow: scroll;
    width: 750px;
    background-image: url(../images/divider.png);
    background-position: left;
    background-repeat: repeat-y;
    margin-left: 40px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

div.loginFailed {
    color: #FF9100
}

.no-select ::selection {
    background: 0 0!important
}

.no-select ::-moz-selection {
    background: 0 0!important
}

.no-select ::-webkit-selection {
    background: 0 0!important
}

input:disabled {
    background-color: #fff
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.ng-cloak,.x-ng-cloak,[data-ng-cloak],[ng-cloak],[ng\:cloak],[x-ng-cloak] {
    display: none!important
}

.app-header.app-header-fullscreen {
    margin-top: 15px
}

.app-frame-hide-overflow {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden
}

.app-frame-hide-overflow.app-frame-fullscreen {
    top: 50px!important
}

.esx-secondary-tabs {
    padding-left: 10px!important;
    padding-top: 5px!important
}

.esx-secondary-tabs .vui-tab-content {
    padding-left: 0!important
}

.esx-secondary-tab-content {
    padding-top: 15px
}

.esx-tertiary-tabs {
    padding: 10px
}

.esx-tertiary-tabs .vui-tab-content {
    padding-left: 0!important
}

.esx-tertiary-tabs .vui-tab-content .k-header.k-grid-toolbar {
    padding-top: 2px!important
}

.esx-tertiary-tabs .vui-toc-tabs ul>li>a {
    padding-left: 7px!important;
    max-width: 178px!important
}

.vui-tertiary-tabs .vui-action-bar {
    padding: 0 0 5px
}

.esx-tertiary-tab-content {
    padding: 0 5px 0 10px!important
}

.esx-tertiary-tab-content .header-area .identifying-graphic {
    max-width: 96px;
    vertical-align: top;
    display: inline-block;
    padding: 0;
    text-align: center
}

.esx-tertiary-tab-content .header-area .key-information {
    display: inline-block;
    padding-left: 8px;
    font-size: .917em;
    color: #333;
    font-family: Arial;
    line-height: 1em
}

.esx-tertiary-tab-content .header-area .key-information .title {
    font-weight: 700;
    line-height: 2em
}

.esx-tertiary-tab-content .header-area .key-information .form-horizontal .form-group,.esx-tertiary-tab-content .header-area .key-information .title {
    margin-bottom: 6px
}

.esx-tertiary-tab-content .header-area .key-information .form-horizontal .form-group .esx-label,.esx-tertiary-tab-content .header-area .key-information .form-horizontal .form-group .form-control-static,.esx-tertiary-tab-content .header-area .key-information .title .esx-label,.esx-tertiary-tab-content .header-area .key-information .title .form-control-static {
    padding: 0
}

.esx-tertiary-tab-content .header-area .key-information .form-horizontal .form-group .form-control-static,.esx-tertiary-tab-content .header-area .key-information .title .form-control-static {
    padding-left: 8px
}

.esx-tertiary-tab-content .header-area .key-information .form-horizontal .form-group .esx-label,.esx-tertiary-tab-content .header-area .key-information .title .esx-label {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden
}

.esx-tertiary-tab-content .header-area .key-information label {
    white-space: nowrap;
    font-weight: 400
}

.esx-tertiary-tab-content .loading {
    width: 100%;
    height: 100%;
    background: url(../images/loader_table.gif) center no-repeat
}

.esx-tertiary-tab-content .notification-area {
    position: relative;
    margin-bottom: 10px
}

.esx-tab-content {
    padding: 10px
}

.esx-tab-content .header-area .identifying-graphic {
    max-width: 96px;
    vertical-align: top;
    display: inline-block;
    padding: 0;
    text-align: center
}

.esx-tab-content .header-area .key-information {
    margin-left: 8px;
    display: inline-block;
    padding-left: 8px;
    font-size: .917em;
    color: #333;
    font-family: Arial;
    line-height: 1em
}

.esx-tab-content .header-area .key-information .title {
    font-weight: 700;
    line-height: 2em
}

.esx-tab-content .header-area .key-information .form-horizontal .form-group,.esx-tab-content .header-area .key-information .title {
    margin-bottom: 6px
}

.esx-tab-content .header-area .key-information .form-horizontal .form-group .esx-label,.esx-tab-content .header-area .key-information .form-horizontal .form-group .form-control-static,.esx-tab-content .header-area .key-information .title .esx-label,.esx-tab-content .header-area .key-information .title .form-control-static {
    padding: 0
}

.esx-tab-content .header-area .key-information .form-horizontal .form-group .form-control-static,.esx-tab-content .header-area .key-information .title .form-control-static {
    padding-left: 8px
}

.esx-tab-content .header-area .key-information .form-horizontal .form-group div,.esx-tab-content .header-area .key-information .title div {
    margin-left: 24px
}

.esx-tab-content .header-area .key-information .form-horizontal .form-group .esx-label,.esx-tab-content .header-area .key-information .title .esx-label {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden
}

.esx-tab-content .header-area .key-information label {
    white-space: nowrap;
    font-weight: 400
}

.esx-tab-content .header-area .metrics {
    font-size: .833em;
    color: #333;
    font-family: Arial
}

.esx-tab-content .header-area .metrics .chart {
    margin-bottom: 12px
}

.esx-tab-content .header-area .metrics .progress {
    border-radius: 4px;
    height: 13px;
    width: 100%;
    border: 1px solid #cecece;
    background-image: linear-gradient(to bottom,#e2e2e2 0,#e9e9e9 100%)
}

.esx-tab-content .header-area .metrics .progress .progress-bar {
    background-image: linear-gradient(to bottom,#7ec2ed 0,#70b4e0 100%)
}

.esx-tab-content .header-area .metrics .storage .progress .progress-bar {
    background-image: linear-gradient(to bottom,#8bcbde 0,#8bcbde 100%)
}

.esx-tab-content .loading {
    width: 100%;
    height: 100%;
    background: url(../images/loader_table.gif) center no-repeat
}

.esx-tab-content .portlet-area {
    margin-top: 10px;
    margin-bottom: 20px
}

.esx-tab-content .portlet-area .vui-portlet {
    margin-top: 10px
}

.esx-tab-content .k-header.k-grid-toolbar {
    padding-top: 0!important
}

.esx-main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #FFF;
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.esx-main-content .loading {
    width: 100%;
    height: 100%;
    background: url(../images/loader_table.gif) center no-repeat
}

.esx-main-content .loading-progress {
    top: 50%;
    position: absolute;
    left: calc(50% - 100px);
    background-color: #fff
}

.esx-main-content .header-area .identifying-graphic {
    max-width: 96px;
    vertical-align: top;
    display: inline-block;
    padding: 0
}

.esx-main-content .header-area .key-information {
    margin-left: 8px;
    display: inline-block;
    padding-left: 8px;
    font-size: .917em;
    color: #333;
    font-family: Arial
}

.fade.ng-hide-add,.fade.ng-hide-remove,.fade.ng-show-add,.fade.ng-show-remove {
    display: block!important
}

.esx-main-content .header-area .key-information .title {
    font-weight: 700
}

.esx-main-content .header-area .key-information .form-horizontal .form-group,.esx-main-content .header-area .key-information .title {
    line-height: 12px;
    margin-bottom: 6px
}

.esx-main-content .header-area .key-information .form-horizontal .form-group .esx-label,.esx-main-content .header-area .key-information .form-horizontal .form-group .form-control-static,.esx-main-content .header-area .key-information .title .esx-label,.esx-main-content .header-area .key-information .title .form-control-static {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0
}

.esx-main-content .header-area .key-information .form-horizontal .form-group .form-control-static,.esx-main-content .header-area .key-information .title .form-control-static {
    padding-left: 8px
}

.esx-main-content .header-area .key-information .form-horizontal .form-group .esx-label,.esx-main-content .header-area .key-information .title .esx-label {
    text-align: left
}

.esx-main-content .header-area .key-information label {
    font-weight: 400
}

.esx-main-content .header-area .metrics {
    font-size: 1rem;
    color: #333
}

.esx-main-content .header-area .metrics .chart {
    margin-bottom: 12px
}

.esx-main-content .header-area .metrics .cpu .progress .progress-bar {
    background-color: #68C71Abb
}

.esx-main-content .header-area .metrics .memory .progress .progress-bar {
    background-color: #0F5E80bb
}

.esx-main-content .header-area .metrics .storage .progress .progress-bar {
    background-color: #C090D5bb
}

.esx-main-content .header-area .metrics .progress {
    border-radius: 4px;
    height: 13px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.3);
    background-color: #eee;
    background-image: none
}

.esx-main-content .header-area .metrics .progress .progress-bar {
    background-color: #0579b8;
    background-image: none
}

.esx-main-content .notification-area {
    margin-top: 20px
}

.esx-main-content .portlet-area {
    margin-top: 10px;
    margin-bottom: 20px
}

.esx-main-content .portlet-area .vui-portlet {
    margin-top: 10px
}

.key-information .object-title {
    font-size: 1.3em
}

.table-value-shorten {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.k-grid-content td,.k-grid-content td>div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400
}

.under-construction {
    width: 100%;
    height: 100%;
    background: url(../images/underconstruction.png) center no-repeat
}

.stack-view-table label {
    font-weight: 400!important
}

.stack-view-table .checkbox-table td * {
    font-size: 12px!important;
    font-weight: 400!important
}

.stack-view-table .checkbox-table td {
    padding-right: 5px
}

.wait {
    cursor: wait!important
}

.checkbox-table ul li label,.manage-permissions-dialog .dialog-panel .permissions-toggle {
    cursor: pointer
}

.loading-dialog {
    background-image: url(../images/tiny_loader_transparent_bg.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden
}

.search div.clear,.search div.loading {
    background-position: 0 0;
    height: 10px;
    position: absolute
}

.loading-dialog .text {
    padding-top: 75px
}

.portlet-titlebar .icon {
    vertical-align: top;
    margin: 4px -3px 0 -4px
}

.panel-content {
    -webkit-overflow-scrolling: touch
}

label.disabled {
    color: #CCC
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

::-webkit-scrollbar-track {
    border: none
}

::-webkit-scrollbar-thumb {
    min-height: 50px;
    border-radius: 10px;
    border: 4px solid transparent;
    background-color: #CCC;
    background-clip: content-box
}

div.k-grid-content::-webkit-scrollbar {
    width: 16px
}

div.k-grid-content::-webkit-scrollbar-track:vertical {
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8
}

div.k-grid-content::-webkit-scrollbar-track:horizontal {
    border-right: 0 solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8
}

div.app-panel-tasks div.k-grid-content::-webkit-scrollbar-track {
    border-radius: 0 0 3px
}

div.k-grid-content::-webkit-scrollbar-thumb {
    min-height: 20px;
    border-radius: 10px;
    border: 4px solid transparent;
    background-color: #CCC;
    background-clip: content-box
}

div.menu-panel::-webkit-scrollbar {
    width: 11px
}

div.menu-panel::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border-left: 3px solid transparent;
    background-clip: content-box;
    border-right: 2px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent
}

div.menu-panel::-webkit-scrollbar-track {
    background-color: transparent;
    border-left: 1px solid #d8d8d8
}

.fade.ng-show {
    opacity: 1
}

.fade.ng-hide {
    opacity: 0
}

.fade.ng-hide-remove {
    animation: fadeIn .5s
}

.fade.ng-hide-add,.fade.ng-show-remove {
    animation: fadeOut .5s
}

.fade.ng-show-add {
    animation: fadeIn .5s
}

div[ui-view=recentTasks] div[vui-datagrid] .k-grid.k-widget .k-grid-header th.k-header:first-child {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0
}

div[ui-view=recentTasks] div[vui-datagrid] .k-grid.k-widget .k-grid-content tbody tr td:first-child {
    border-left-width: .67px;
    border-color: #FFF
}

div[ui-view=recentTasks] div[vui-datagrid] .k-grid.k-widget .k-grid-header {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0!important
}

div[ui-view=recentTasks] .k-grid-header-wrap {
    border-right-width: 0!important
}

.CodeMirror {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8
}

.search div.loading {
    background-image: url(../images/tiny_loader_transparent_bg.gif);
    right: 7px;
    top: 6px;
    margin: 0;
    width: 16px
}

.search div.clear {
    background-image: url(../images/search-clear.png);
    right: 4px;
    top: 11px;
    margin: 0;
    background-repeat: no-repeat;
    width: 10px;
    cursor: pointer
}

.k-grid-toolbar .search div.clear {
    top: 8px!important
}

.checkbox-table ul {
    list-style: none;
    margin: 0
}

.checkbox-table ul li {
    float: left;
    margin: 4px 10px 0 0
}

.search-highlight {
    background-color: #FF0
}

.manage-permissions-dialog ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    width: 100%
}

.manage-permissions-dialog .vui-action-bar li {
    padding-left: 0
}

.manage-permissions-dialog .selected {
    background: #b3e0ff
}

.manage-permissions-dialog .object-panel {
    min-width: 20rem;
    width: 20rem
}

.manage-permissions-dialog .object-panel li {
    line-height: 21px
}

.manage-permissions-dialog .dialog-panel {
    padding: 0 1rem;
    width: 1em;
    border-right: 1px solid #CCC;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.manage-permissions-dialog .dialog-panel:last-child {
    border: none
}

.manage-permissions-dialog .dialog-panel .mo-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.manage-permissions-dialog .dialog-panel .dialog-panel-footer,.manage-permissions-dialog .dialog-panel .dialog-panel-header {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.manage-permissions-dialog .dialog-panel .dialog-panel-header {
    margin-bottom: .7rem
}

.manage-permissions-dialog .dialog-panel .dialog-panel-footer {
    padding-top: 1rem;
    border-top: 1px solid #CCC
}

.manage-permissions-dialog .dialog-panel .dialog-panel-title {
    background: #ddd;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 .6rem;
    line-height: 21px
}

.manage-permissions-dialog .dialog-panel .dialog-panel-content {
    overflow: hidden;
    padding-right: .1rem;
    min-height: 5rem;
    overflow-y: scroll;
    -ms-overflow-y: scroll
}


.base-app-style {
    position: relative;
    height: 100%;
    width: 100%;
    background: #3075ab;
    background: linear-gradient(to bottom,#3a8dc8 0,#183a62 100%);
    font-family: Arial, sans-serif; 
    margin: 0;
    min-height: 100vh; 
    }

.loginContainer .blue {
    color: #fff;
    border: 2px solid #1d4772;
    background: #0095cd;
    background: linear-gradient(to bottom,#0c6fb9 0,#014781 100%)
}